.UserContainer{
    width: 100%;
    max-width: 730px;
    border-radius: 0.9rem;
    padding: 2rem 1.5rem 2rem;
    margin-bottom: 2rem;
    animation: fadeIn var(--duration);
    -webkit-animation: fadeIn var(--duration);
    -moz-animation: fadeIn var(--duration);
    -o-animation: fadeIn var(--duration);
    -ms-animation: fadeIn var(--duration);
}

.UserContainer>img{
    display: none;
}

.Bio{
    font-size: 0.8rem;
}

.StatsContainer{
    margin-top: 1.4rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.6rem;
    padding: 18px 14px;
}

/* LIGHT MODE */
.UserLight{
    background-color: var(--transparent);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    transition-duration: var(--duration);
    transition-duration: var(--duration);
}

.UserLight>div>.Bio{
    color: var(--darkBlue);
    transition-duration: var(--duration);
}

/* DARK MODE */
.UserDark{
    background-color: var(--dark);
    color: var(--transparent);
    transition-duration: var(--duration);
}

.UserDark>div>.StatsContainer{
    background-color: var(--darkGray);
}

@media (min-width: 768px) {
    .UserContainer{
        padding: 2.5rem 2.5rem 2rem;
    }

    .Bio{
        font-size: 0.9rem;
    }

    .StatsContainer{
        margin-top: 2rem;
        margin-bottom: 1.8rem;
        padding: 18px 2rem;
    }

    .LinksContainer{
        display: grid;
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 1200px){
    .UserContainer{
        display: flex;
        gap: 2.31rem;
    }

    .UserContainer>img{
        display: block;
        width: 117px;
        height: 117px;
        border-radius: 50%;
    }

    .UserContainer>div{
        max-width: 480px;
        width: 100%;
    }
}
