@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
  /*LIGHT MODE*/
  --lightBlue: #60ABFF;
  --blue: #0079FF;
  --red: #F74646;
  --darkBlue: #4B6A9B;
  --gray: #697C9A;
  --white: #F6F8FF;
  --transparent: #FEFEFE;
  --black: #2B3442;
  --duration: 0.2s;

  /*DARK MODE*/
  --darkGray: #141D2F;
  --dark: #1E2A47;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.App{
  width: 100%;
  min-height: 100%;
  padding: 1.9rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn var(--duration);
  -webkit-animation: fadeIn var(--duration);
  -moz-animation: fadeIn var(--duration);
  -o-animation: fadeIn var(--duration);
  -ms-animation: fadeIn var(--duration);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.AppLight{
  background-color: var(--white);
  transition-duration: var(--duration);
}

.AppDark{
  background-color: var(--darkGray);
  transition-duration: var(--duration);
}

@media (min-width: 767px) {
  .App{
    padding: 8.75rem 6rem 0;
  }
}

@media (min-width: 1200px) {
  .App{
    padding: 0;
    justify-content: center;
  }
}
